header {
    height: 100px;
    background-color: #02cb9f;
}



.container {
    display: grid;
    grid-template-columns: 200px 1fr;                            /* 2 колонки */
    grid-template-rows: 1fr;
    grid-gap: 10px;                                             /* расстояние между элементами сетки */
    grid-auto-rows: minmax(100px, auto);                        /* минимально 100px, максимально авто */
    /*justify-items: center;*/
    /*align-items: center;*/
}
.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}



nav {
    background-color: #bb6b6b;
    display: inline-grid;
    grid-row: 1/2;
    align-self: start;
    grid-gap: 40px;
}
.view {
    background-color: #85a2ec;
    align-self: center;
}
.view2 {
    align-self: center;
    grid-column: 2/8;
}
.view3 {
    background-color: #24c724;
    align-self: center;
    justify-self: end;
    grid-column: 1/8;
}
.view4 {
    background-color: #24c724;
    grid-column: 4/7;
}
.view5 {
    grid-column: 1/3;
    background-color: #85a2ec;
}